pydantic~=1.10.7
bson~=0.5.10
pymongo~=4.3.3
fastapi~=0.95.1
passlib~=1.7.4
motor~=3.1.2
python-dotenv==1.0.0
python-jose~=3.3.0
uvicorn==0.21.1
bcrypt==4.0.1
mutagen~=1.46.0
audioread~=3.0.0

starlette~=0.26.1
youtube_dl==2021.12.17
pythumb~=1.1.0
pytube==12.1.2

